.https-bitcoon-io {
  align-items: flex-start;
  background-color: var(--mirage);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 7988px;
  width: 1920px;
}

.overlap-group9 {
  height: 966px;
  position: relative;
  width: 1920px;
}

.frame-10 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0px 192px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.frame {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
  width: 1536px;
}

.frame-11 {
  align-self: stretch;
  border: 1px none;
  height: 966px;
  min-width: 1440px;
  position: relative;
}

.frame-container {
  height: 1020px;
  left: 0;
  position: absolute;
  top: -54px;
  width: 785px;
}

.frame-12 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 66px;
  left: 0;
  min-width: 124px;
  position: absolute;
  top: 954px;
}

.overlap-group-1 {
  height: 66px;
  position: relative;
  width: 124px;
}

.rectangle-3 {
  height: 21px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 16px;
}

.rectangle-4 {
  height: 66px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 124px;
}

.frame-13 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  padding: 300px 0px;
  position: absolute;
  top: 0;
  width: 785px;
}

.frame-14 {
  border: 1px none;
  height: 146px;
  min-width: 785px;
  position: relative;
}

.a-decentralized-meme {
  color: var(--white);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  top: 50px;
  width: 858px;
}

.margin-3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 16px;
  width: fit-content;
}

.coon-coon-swap-ba {
  color: var(--silver);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  width: 438px;
}

.frame-15 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 24px;
  width: fit-content;
}

.frame-1 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(37, 33, 225) 0%, rgba(37, 33, 225, 0.33) 100%);
  border: 1px none;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 18px 32px 14px;
  width: fit-content;
}

.frame-16 {
  border: 1px none;
  height: 26px;
  min-width: 96px;
  position: relative;
}

.how-to-buy {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
}

.frame-17 {
  background: linear-gradient(180deg, rgb(37, 33, 225) 0%, rgba(247, 247, 247, 0.69) 100%);
  border: 1px none;
  border-radius: 200px;
  height: 58px;
  min-width: 229px;
  overflow: hidden;
  position: relative;
}

.overlap-group-2 {
  align-items: flex-end;
  background-color: var(--mirage);
  border-radius: 200px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 1px;
  min-width: 227px;
  padding: 14px 27px;
  position: absolute;
  top: 1px;
}

.frame-18 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 26px;
  min-width: 165px;
  padding: 0 6px;
}

.read-coon-paper {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -3px;
  min-height: 26px;
  white-space: nowrap;
}

.rectangle {
  border: 1px none;
  border-radius: 200px;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.overlap-group2 {
  height: 917px;
  left: 819px;
  position: absolute;
  top: 135px;
  width: 861px;
}

.frame-19 {
  border: 1px none;
  height: 697px;
  left: 147px;
  position: absolute;
  top: 220px;
  width: 468px;
}

.bitcoon-1 {
  height: 831px;
  left: 0;
  position: absolute;
  top: 0;
  width: 861px;
}

.overlap-group6 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1920px;
}

.frame-20 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 726px;
  height: 15px;
  left: 0;
  padding: 100px 48px 0px;
  position: absolute;
  top: 6px;
  width: 1920px;
}

.frame-21 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  margin-bottom: -77.50px;
  margin-right: -46.00px;
  margin-top: -77.50px;
  width: 1870px;
}

.frame-22 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 12px;
  padding: 0px 0px 0px 11px;
  width: 980px;
}

.margin {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 9px 10px 9px 0px;
  width: fit-content;
}

.frame-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 7px 5px;
  width: fit-content;
}

.ecosystem,
.buy,
.coon-swap,
.roadmap,
.pet-coon,
.community,
.en,
.medium,
.etherscan,
.coin-market-cap,
.coin-gecko {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.margin-4 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 9px 15px 9px 0px;
  width: fit-content;
}

.margin-5 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 58px;
  padding: 13px 0px;
  width: 1px;
}

.rectangle-5 {
  align-self: stretch;
  background-color: #ffffff1a;
  border: 1px none;
  flex: 1;
  height: 32px;
  min-width: 1px;
}

.frame-23 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 8px 0px 0px;
  width: fit-content;
}

.frame-24 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 58px;
  padding: 16px 20px;
  width: fit-content;
}

.margin-6 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 26px;
  padding: 8.5px 0px 12.5px;
  width: 10px;
}

.rectangle-6 {
  align-self: stretch;
  flex: 1;
  height: 5px;
  min-width: 10px;
  object-fit: cover;
}

.frame-25 {
  background: linear-gradient(180deg, rgb(37, 33, 225) 0%, rgba(247, 247, 247, 0.69) 100%);
  border: 1px none;
  border-radius: 200px;
  height: 58px;
  min-width: 232px;
  overflow: hidden;
  position: relative;
}

.overlap-group-3 {
  align-items: flex-start;
  background-color: var(--mirage);
  border-radius: 200px;
  display: flex;
  gap: 16px;
  height: 56px;
  left: 1px;
  min-width: 230px;
  padding: 14px 31px;
  position: absolute;
  top: 1px;
}

.rectangle-7 {
  align-self: center;
  height: 18px;
  margin-bottom: 2.0px;
  object-fit: cover;
  width: 26px;
}

.frame-26 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 26px;
  min-width: 126px;
}

.use-coon-swap {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 26px;
  white-space: nowrap;
}

.coon-container {
  height: 150px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 361px;
}

.bitcoon {
  color: var(--white);
  font-family: var(--font-family-kanit);
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  left: 100px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 261px;
}

.coon-logo {
  height: 150px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 150px;
}

.frame-27 {
  align-items: center;
  background-color: var(--eerie-black-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 120px 192px 152px;
  width: 1920px;
}

.frame-28 {
  align-self: stretch;
  border: 1px none;
  height: 386px;
  min-width: 1440px;
  position: relative;
}

.frame-29 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 619px;
}

.frame-30 {
  border: 1px none;
  height: 66px;
  min-width: 549px;
  position: relative;
}

.our-project-ecosystem,
.how-to-buy-1,
.quick-start-guide {
  left: 0;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.we-are-building-a-co,
.people-underestimate {
  letter-spacing: 0;
  line-height: 32px;
  width: 619px;
}

.frame-31 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 32px;
  height: 224px;
  justify-content: center;
  left: 790px;
  padding: 16px;
  position: absolute;
  top: 81px;
  width: fit-content;
}

.frame-3 {
  align-self: stretch;
  border: 1px none;
  height: 192px;
  min-width: 190px;
}

.overlap-group {
  height: 196px;
  position: relative;
  width: 194px;
}

.rectangle-1 {
  background-color: var(--bunker);
  border: 1px none;
  border-radius: 16px;
  height: 192px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 190px;
}

.frame-4 {
  align-items: flex-start;
  background-color: var(--eerie-black);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 0;
  padding: 24px 32px;
  position: absolute;
  top: 0;
  width: 190px;
}

.margin-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 0px 23px;
  width: 126px;
}

.frame-32 {
  align-self: stretch;
  border: 1px none;
  flex: 1;
  height: 80px;
  min-width: 80px;
  position: relative;
}

.rectangle-8 {
  height: 80px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 70px;
}

.rectangle-9 {
  height: 80px;
  left: -1096px;
  object-fit: cover;
  position: absolute;
  top: -1207px;
  width: 70px;
}

.frame-5 {
  border: 1px none;
  height: 48px;
  min-width: 126px;
  position: relative;
}

.developed-on-ethereum {
  left: 7px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 113px;
}

.frame-33 {
  align-self: stretch;
  background-image: url(/static/img/cib-bitcoin@2x.svg);
  background-size: 100% 100%;
  border: 1px none;
  flex: 1;
  height: 80px;
  min-width: 80px;
}

.fully-backed-by-bitcoin {
  left: 20px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 89px;
}

.margin-7 {
  height: 84px;
  margin-top: -2.00px;
  min-width: 126px;
}

.built-for-the-community {
  color: var(--silver);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 97px;
}

.frame-34 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 120px 192px;
  width: 1920px;
}

.frame-35 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 40px;
  height: 842px;
}

.frame-36 {
  align-items: flex-start;
  background-color: var(--eerie-black);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.frame-37 {
  align-self: stretch;
  background: linear-gradient(180deg, rgb(31, 30, 41) 0%, rgba(31, 30, 41, 0.55) 100%);
  border: 1px none;
  height: 241px;
  min-width: 1440px;
  position: relative;
}

.overlap-group-4 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 241px;
  left: 0;
  min-width: 512px;
  position: absolute;
  top: 0;
}

.untitleddesign16-1 {
  height: 241px;
  width: 377px;
}

.frame-38 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 118px;
  left: 660px;
  min-width: 120px;
  position: absolute;
  top: 62px;
}

.rectangle-10 {
  height: 90px;
  margin-left: -926px;
  margin-top: -1740px;
  object-fit: cover;
  width: 120px;
}

.frame-39 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 48px 69px;
}

.frame-40 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 32px;
}

.frame-41 {
  border: 1px none;
  height: 42px;
  min-width: 64px;
  position: relative;
}

.coon {
  left: 0;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
}

.frame-42 {
  align-items: center;
  background-color: #24222e;
  border: 1px none;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  padding: 8px 16px 3px;
  width: fit-content;
}

.margin-8 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 23px;
  padding: 1.5px 0px 7.5px;
  width: 12px;
}

.rectangle-11 {
  align-self: stretch;
  flex: 1;
  height: 14px;
  min-width: 12px;
  object-fit: cover;
}

.see-live-charts {
  color: var(--white);
  font-family: var(--font-family-khula);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: -1.00px;
  white-space: nowrap;
  width: fit-content;
}

.margin-9 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 16px;
}

.the-bitcoon-token-is {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-khula);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
}

.span3 {
  color: var(--persian-blue);
  font-weight: 700;
}

.margin-10 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 217.33px 0px 0px;
  width: fit-content;
}

.frame-6 {
  border: 1px none;
  height: 26px;
  min-width: 76px;
  position: relative;
}

.buy-coon {
  left: -5px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
}

.frame-43 {
  align-items: center;
  background-color: var(--eerie-black-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2028px;
  padding: 165px 192px 152px;
  width: 1920px;
}

.frame-44 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 159px;
  margin-bottom: -32.00px;
  padding: 0px 48px;
  width: 1536px;
}

.frame-45 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  justify-content: space-between;
}

.frame-46 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 9.5px 0px;
  width: 619px;
}

.frame-47 {
  border: 1px none;
  height: 66px;
  min-width: 256px;
  position: relative;
}

.margin-11 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 16px;
  width: 619px;
}

.coon-is-best-to-be-p {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
}

.frame-7 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 24px;
  padding: 0px 24px 0px 0px;
  width: fit-content;
}

.buy-coon-1 {
  left: -2px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
}

.frame-48 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 130px 0px 80px;
  width: fit-content;
}

.frame-49 {
  border: 1px none;
  height: 479px;
  min-width: 478px;
}

.overlap-group-5 {
  height: 501px;
  left: -53px;
  position: relative;
  top: -11px;
  width: 578px;
}

.rectangle-12 {
  height: 501px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 500px;
}

.rectangle-13 {
  height: 350px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 350px;
}

.frame-50 {
  height: 487px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 578px;
}

.frame-51 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.margin-12 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 66px;
  padding: 0px 1045px 0px 0px;
  width: 1440px;
}

.frame-52 {
  align-self: stretch;
  border: 1px none;
  flex: 1;
  height: 66px;
  min-width: 395px;
  position: relative;
}

.frame-53 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--eerie-black);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 80px 64px;
}

.frame-8 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  position: relative;
}

.frame-9 {
  border: 1px none;
  height: 153px;
  min-width: 877px;
  position: relative;
}

.frame-54 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 42px;
  left: 0;
  min-width: 343px;
  position: absolute;
  top: 17px;
}

.x-wallet {
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -1px;
  min-height: 42px;
  white-space: nowrap;
}

.create-a-meta-mask-wa,
.you-can-buy-ethereum,
.you-can-start-swappi {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 88px;
  width: 877px;
}

.rectangle-2 {
  align-self: stretch;
  background-color: var(--baltic-sea);
  border: 1px none;
  height: 1px;
  min-width: 1280px;
}

.frame-55 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 42px;
  left: 0;
  min-width: 334px;
  position: absolute;
  top: 18px;
}

.frame-56 {
  border: 1px none;
  height: 121px;
  min-width: 877px;
  position: relative;
}

.frame-57 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 42px;
  left: 0;
  min-width: 478px;
  position: absolute;
  top: 23px;
}

.connect-your-wallet-to-coon-swap {
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -8px;
  min-height: 42px;
  white-space: nowrap;
}

.access-your-wallet-t {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}

.frame-58 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 42px;
  left: 0;
  min-width: 484px;
  position: absolute;
  top: 23px;
}

.swap-w-btc-for-coon {
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -6px;
  min-height: 42px;
  white-space: nowrap;
}

.overlap-group8 {
  height: 2751px;
  position: relative;
  width: 1920px;
}

.frame-59 {
  align-items: flex-start;
  background-color: var(--eerie-black-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 730px;
  left: 0;
  padding: 120px 0px 0px;
  position: absolute;
  top: 796px;
  width: 1920px;
}

.margin-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 192px;
  width: fit-content;
}

.frame-60 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 171px 120px;
  width: 1536px;
}

.margin-13 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 66px;
  padding: 0px 562px;
  width: 1194px;
}

.frame-61 {
  align-self: stretch;
  border: 1px none;
  flex: 1;
  height: 66px;
  min-width: 70px;
  position: relative;
}

.follow-the-coon-tracks {
  left: -220px;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: -9px;
  white-space: nowrap;
}

.the-official-bitcoon {
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  width: 1194px;
}

.span1 {
  color: var(--governor-bay);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.frame-62 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  margin-bottom: -129.00px;
  margin-top: -40px;
  padding: 0px 0px 0px 140px;
}

.group-12 {
  height: 245px;
  min-width: 1677px;
  position: relative;
}

.overlap-group5 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 1671px;
}

.frame-63 {
  background-color: var(--black);
  border: 1px none;
  border-radius: 16px;
  height: 200px;
  left: 1169px;
  position: absolute;
  top: 0;
  width: 300px;
}

.frame-64 {
  background-color: var(--black);
  border: 1px none;
  border-radius: 16px;
  height: 200px;
  left: 679px;
  position: absolute;
  top: 0;
  width: 300px;
}

.frame-65 {
  background-color: var(--black);
  border: 1px none;
  border-radius: 16px;
  height: 200px;
  left: 201px;
  position: absolute;
  top: 0;
  width: 300px;
}

.untitled-design-container {
  height: 164px;
  left: 464px;
  position: absolute;
  top: 13px;
  width: 263px;
}

.untitled-design21-6 {
  height: 154px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 161px;
}

.untitled-design21-14 {
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

.untitled-design-container-1 {
  height: 164px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 263px;
}

.untitled-design-container-2 {
  height: 164px;
  left: 944px;
  position: absolute;
  top: 8px;
  width: 263px;
}

.untitled-design-container-3 {
  height: 164px;
  left: 1408px;
  position: absolute;
  top: 18px;
  width: 263px;
}

.frame-66 {
  align-items: center;
  background: linear-gradient(180deg, rgb(40, 35, 183) 0%, rgba(40, 35, 183, 0.69) 100%);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  height: 200px;
  left: 201px;
  min-width: 300px;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.frame-67 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 52px;
  min-width: 180px;
  padding: 0 34px;
}

.launch-web-presale-audit {
  letter-spacing: 0;
  line-height: 52px;
  margin-top: -53px;
  min-height: 156px;
  min-width: 112px;
  text-align: center;
}

.frame-68 {
  align-items: center;
  background: linear-gradient(180deg, rgb(40, 35, 183) 0%, rgba(40, 35, 183, 0.69) 100%);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  height: 200px;
  left: 679px;
  min-width: 300px;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.frame-69 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 52px;
  min-width: 180px;
  padding: 0 5px;
}

.launch-coon-swap-stak {
  letter-spacing: 0;
  line-height: 52px;
  margin-top: -53px;
  min-height: 156px;
  min-width: 170px;
  text-align: center;
}

.frame-70 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(40, 35, 183) 0%, rgba(40, 35, 183, 0.69) 100%);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  height: 200px;
  left: 1169px;
  min-width: 300px;
  padding: 21px 46px;
  position: absolute;
  top: 0;
}

.overlap-group4 {
  height: 156px;
  position: relative;
  width: 208px;
}

.frame-71 {
  border: 1px none;
  height: 52px;
  left: 14px;
  position: absolute;
  top: 53px;
  width: 180px;
}

.launch-nft-collectio {
  left: 0;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  text-align: center;
  top: 0;
}

.phase-container {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 286px;
  min-width: 1098px;
  position: absolute;
  top: 0;
}

.phase-1 {
  letter-spacing: 0;
  min-height: 45px;
  text-align: center;
  width: 130px;
}

.phase-2 {
  letter-spacing: 0;
  margin-left: 348px;
  min-height: 45px;
  text-align: center;
  width: 130px;
}

.phase-3 {
  letter-spacing: 0;
  margin-left: 360px;
  min-height: 45px;
  text-align: center;
  width: 130px;
}

.frame-72 {
  border: 1px none;
  height: 252px;
  margin-right: -76.00px;
  min-width: 1856px;
}

.frame-73 {
  align-items: center;
  background-color: var(--eerie-black-2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--baltic-sea);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 120px 192px 81px;
  position: absolute;
  top: 2268px;
  width: 1920px;
}

.frame-74 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 290px;
}

.margin-14 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 66px;
  padding: 0px 300px;
  width: 860px;
}

.frame-75 {
  align-self: stretch;
  border: 1px none;
  flex: 1;
  height: 66px;
  min-width: 260px;
  position: relative;
}

.community-1 {
  left: -1px;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: -4px;
  white-space: nowrap;
}

.margin-15 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 8px;
  width: fit-content;
}

.if-youd-like-to-don {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.margin-16 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 83.5px;
  width: fit-content;
}

.frame-76 {
  align-items: center;
  background-color: var(--eerie-black);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 27px 30px 27px 34px;
  width: fit-content;
}

.frame-77 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.frame-78 {
  background: linear-gradient(180deg, rgb(36.74, 32.89, 225.5) 0%, rgba(247, 247, 247, 0.69) 100%);
  border: 1px none;
  border-radius: 200px;
  height: 58px;
  min-width: 241px;
  overflow: hidden;
  position: relative;
}

.overlap-group-6 {
  align-items: flex-start;
  background-color: var(--eerie-black);
  border-radius: 200px;
  display: flex;
  gap: 10px;
  height: 56px;
  left: 1px;
  min-width: 239px;
  padding: 14px 31px;
  position: absolute;
  top: 1px;
}

.icon-copy {
  align-self: center;
  height: 20px;
  margin-bottom: 2.0px;
  object-fit: cover;
  width: 16px;
}

.frame-79 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 26px;
  justify-content: center;
  min-width: 151px;
}

.copy-to-clipboard {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  min-height: 26px;
  min-width: 152px;
  text-align: center;
  white-space: nowrap;
}

.margin-17 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 58px;
  padding: 13px 0px;
  width: 388px;
}

.frame-80 {
  border: 1px none;
  flex: 1;
  height: 32px;
  min-width: 375px;
  overflow: hidden;
}

.overlap-group-7 {
  height: 32px;
  left: 42px;
  position: relative;
  top: -1px;
  width: 396px;
}

.frame-81 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 3px;
  width: 396px;
}

.x0x3f7-f0f-a064ca7e7-fa8 {
  height: 28px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: 330px;
}

.rectangle-14 {
  background: linear-gradient(180deg, rgba(24, 23, 31, 0) 22%, rgba(24, 23, 31, 0) 100%);
  border: 1px none;
  height: 32px;
  left: 140px;
  position: absolute;
  top: 0;
  width: 194px;
}

.frame-82 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 762px;
  left: 0;
  padding: 102px 192px 152px;
  position: absolute;
  top: 1514px;
  width: 1920px;
}

.frame-83 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 60px;
}

.frame-84 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 619px;
}

.frame-85 {
  border: 1px none;
  height: 66px;
  min-width: 156px;
  position: relative;
}

.mint-a-pet-coon {
  left: 0;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  top: -8px;
  white-space: nowrap;
}

.frame-86 {
  border: 1px none;
  flex: 1;
  height: 347px;
  min-width: 761px;
}

.learn-more {
  left: -7px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
}

.frame-87 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 120px 192px 152px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.frame-88 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  justify-content: space-between;
}

.frame-89 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 48px;
  padding: 25px 0px 21px;
}

.frame-90 {
  border: 1px none;
  height: 385px;
  min-width: 648px;
  position: relative;
}

.rectangle-15 {
  height: 388px;
  left: -13px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 674px;
}

.margin-18 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 58px;
  padding: 0px 208px;
  width: 648px;
}

.frame-91 {
  align-self: stretch;
  background: linear-gradient(180deg, rgb(37, 33, 225) 0%, rgba(247, 247, 247, 0.69) 100%);
  border: 1px none;
  border-radius: 200px;
  flex: 1;
  height: 58px;
  min-width: 232px;
  overflow: hidden;
  position: relative;
}

.overlap-group-8 {
  align-items: center;
  background-color: var(--mirage);
  border-radius: 200px;
  display: flex;
  gap: 16px;
  height: 56px;
  left: 1px;
  min-width: 230px;
  padding: 13px 31px;
  position: absolute;
  top: 1px;
}

.rectangle-16 {
  height: 18px;
  margin-bottom: 2.0px;
  object-fit: cover;
  width: 26px;
}

.frame-92 {
  align-items: flex-start;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  height: 26px;
  min-width: 126px;
}

.use-coon-swap-1,
.audit-report {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -4px;
  min-height: 26px;
  white-space: nowrap;
}

.frame-93 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
}

.margin-19 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 66px;
  padding: 0px 407px 0px 0px;
  width: 648px;
}

.frame-94 {
  align-self: stretch;
  border: 1px none;
  flex: 1;
  height: 66px;
  min-width: 241px;
  position: relative;
}

.coon-swap-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 66px;
  position: absolute;
  top: -7px;
  white-space: nowrap;
}

.margin-20 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 24px;
  width: 648px;
}

.frame-95 {
  align-items: center;
  align-self: stretch;
  background-color: var(--eerie-black);
  border: 1px none;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 22px 30px 22px 34px;
}

.certik-logo-1 {
  height: 50px;
  min-width: 200px;
}

.frame-96 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 24px;
  padding: 17px 32px 17px 0px;
  width: fit-content;
}

.margin-21 {
  border: 1px none;
  height: 36px;
  min-width: 1px;
}

.frame-97 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 0px;
  width: fit-content;
}

.frame-98 {
  background: linear-gradient(180deg, rgb(35, 31, 212) 0%, rgba(247, 247, 247, 0.69) 100%);
  border: 1px none;
  border-radius: 200px;
  height: 58px;
  min-width: 209px;
  overflow: hidden;
  position: relative;
}

.overlap-group-9 {
  align-items: center;
  background-color: var(--eerie-black);
  border-radius: 200px;
  display: flex;
  gap: 16px;
  height: 56px;
  left: 1px;
  min-width: 207px;
  padding: 13px 31px;
  position: absolute;
  top: 1px;
}

.icon-eye {
  height: 12px;
  margin-bottom: 2.0px;
  object-fit: cover;
  width: 21px;
}

.frame-99 {
  align-items: flex-start;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  height: 26px;
  min-width: 108px;
}

.coon-is-the-infastru {
  letter-spacing: 0;
  line-height: 32px;
  width: 648px;
}

.span1-1 {
  color: var(--governor-bay);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-m);
  font-weight: 700;
}

.pet-coon-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 680px;
  left: 998px;
  mix-blend-mode: color-burn;
  padding: 41px 0;
  position: absolute;
  top: 1559px;
  width: 700px;
}

.overlap-group7 {
  height: 597px;
  position: relative;
  width: 700px;
}

.group {
  height: 425px;
  left: 232px;
  position: absolute;
  top: 152px;
  width: 316px;
}

.group-1 {
  height: 528px;
  left: 200px;
  position: absolute;
  top: 49px;
  width: 388px;
}

.group-2 {
  height: 438px;
  left: 200px;
  position: absolute;
  top: 139px;
  width: 395px;
}

.group-3 {
  height: 435px;
  left: 196px;
  position: absolute;
  top: 142px;
  width: 401px;
}

.group-4 {
  height: 530px;
  left: 197px;
  position: absolute;
  top: 41px;
  width: 394px;
}

.group-5 {
  height: 495px;
  left: 196px;
  position: absolute;
  top: 62px;
  width: 402px;
}

.group-6 {
  height: 534px;
  left: 197px;
  position: absolute;
  top: 37px;
  width: 387px;
}

.group-7 {
  height: 535px;
  left: 195px;
  position: absolute;
  top: 36px;
  width: 403px;
}

.group-8 {
  height: 490px;
  left: 195px;
  position: absolute;
  top: 34px;
  width: 403px;
}

.group-9 {
  height: 505px;
  left: 195px;
  position: absolute;
  top: 51px;
  width: 403px;
}

.group-10 {
  height: 447px;
  left: 207px;
  position: absolute;
  top: 49px;
  width: 392px;
}

.group-11 {
  height: 481px;
  left: 195px;
  position: absolute;
  top: 31px;
  width: 404px;
}

.group-13 {
  height: 478px;
  left: 195px;
  position: absolute;
  top: 29px;
  width: 404px;
}

.group-14 {
  height: 480px;
  left: 195px;
  position: absolute;
  top: 27px;
  width: 405px;
}

.group-15 {
  height: 451px;
  left: 196px;
  position: absolute;
  top: 25px;
  width: 404px;
}

.group-16 {
  height: 468px;
  left: 200px;
  position: absolute;
  top: 40px;
  width: 397px;
}

.group-17 {
  height: 446px;
  left: 223px;
  position: absolute;
  top: 19px;
  width: 376px;
}

.group-18 {
  height: 477px;
  left: 196px;
  position: absolute;
  top: 23px;
  width: 403px;
}

.group-19 {
  height: 458px;
  left: 200px;
  position: absolute;
  top: 44px;
  width: 378px;
}

.group-20 {
  height: 449px;
  left: 223px;
  position: absolute;
  top: 16px;
  width: 376px;
}

.group-21 {
  height: 459px;
  left: 197px;
  position: absolute;
  top: 39px;
  width: 399px;
}

.group-22 {
  height: 470px;
  left: 196px;
  position: absolute;
  top: 14px;
  width: 403px;
}

.group-23 {
  height: 470px;
  left: 197px;
  position: absolute;
  top: 14px;
  width: 399px;
}

.group-24 {
  height: 461px;
  left: 197px;
  position: absolute;
  top: 12px;
  width: 399px;
}

.group-25 {
  height: 455px;
  left: 200px;
  position: absolute;
  top: 12px;
  width: 394px;
}

.group-26 {
  height: 440px;
  left: 216px;
  position: absolute;
  top: 23px;
  width: 374px;
}

.group-27 {
  height: 119px;
  left: 392px;
  position: absolute;
  top: 274px;
  width: 157px;
}

.icon-question_mark {
  height: 136px;
  left: 240px;
  position: absolute;
  top: 283px;
  width: 140px;
}

.untitled-design23-1 {
  height: 597px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 700px;
}

.icon-question_mark-1 {
  height: 116px;
  left: 260px;
  position: absolute;
  top: 290px;
  width: 120px;
}

.frame-100 {
  align-items: flex-start;
  background-color: #1a1921;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 80px 0px 0px;
  width: 1920px;
}

.frame-101 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0px 277.5px 80px;
}

.our-community-grows {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  text-align: center;
  width: 885px;
}

.margin-22 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 0px 51.5px;
  width: fit-content;
}

.frame-102 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 70px;
  padding: 0px 35px 0px 36px;
  width: fit-content;
}

.frame-103 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100px;
}

.margin-23 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 56px;
  margin-left: -18.00px;
  margin-right: -18.00px;
  padding: 0px 0px 0px 45px;
  width: 136px;
}

.rectangle-17 {
  height: 50px;
  min-width: 50px;
  object-fit: cover;
}

.telegram,
.twitter {
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-104 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 18.5px;
  width: 74px;
}

.margin-24 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 56px;
  padding: 0px 18.5px 0px 0px;
  width: 37px;
}

.icon-twitter {
  height: 50px;
  margin-right: -31.50px;
  min-width: 50px;
  object-fit: cover;
}

.frame-105 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 20px;
  width: 74px;
}

.margin-25 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 56px;
  margin-left: -24.00px;
  margin-right: -24.00px;
  padding: 0px 17px;
  width: 82px;
}

.rectangle-18 {
  height: 50px;
  margin-right: -2.00px;
  min-width: 50px;
  object-fit: cover;
}

.reddit,
.instagram {
  letter-spacing: 0;
  line-height: 19px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-106 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 17px;
  width: 74px;
}

.margin-26 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 56px;
  padding: 0px 20px 0px 0px;
  width: 40px;
}

.rectangle-19 {
  height: 50px;
  margin-right: -30.00px;
  min-width: 50px;
  object-fit: cover;
}

.discord {
  letter-spacing: 0;
  line-height: 19px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-107 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0px 11px;
  width: 74px;
}

.margin-27 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 56px;
  padding: 0px 26px 0px 1px;
  width: 52px;
}

.icon-instagram {
  height: 50px;
  margin-right: -25.00px;
  min-width: 50px;
  object-fit: cover;
}

.frame-108 {
  align-items: center;
  align-self: stretch;
  background-color: var(--eerie-black);
  border: 1px none;
  display: flex;
  flex-direction: column;
  padding: 42px 192px 38px;
}

.frame-109 {
  align-items: center;
  align-self: stretch;
  border: 1px none;
  display: flex;
  gap: 32px;
  justify-content: center;
}

